html, body {
  margin: 0;
  height: 100%;
  font: 12px Helvetica, sans-serif;
  color: #222;
}
body {
  background-color: #b3aca4;
  background-image: -webkit-gradient(linear, left 48, left bottom, from(#aeb0af), to(#b3aca4), color-stop(0.25, #9ca1b5), color-stop(0.85, #bf998e));
  background-image: -moz-linear-gradient(top, #aeb0af, #9ca1b5 25%, #af998e 85%, #9ca1b5);
  background-attachment: fixed;
}
img {
  border: none;
}
input.fancy {
  font: inherit;
  background-color: #666666;
  background-image: url(images/magnifyingGlass_big.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #EEE;
  border: 1px solid black;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.3em 2.6em 0.3em 0.8em;
  -webkit-box-shadow: inset 0 1px 1px #000000 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 1px #000000 0 1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 1px #000000 0 1px 1px rgba(255, 255, 255, 0.3);
  line-height: 1.5em;
  height: 1.5em;
  position: relative;
  top: -1px;
}
input.fancy:focus {
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px #000000 0 0px 5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 1px #000000 0 0px 5px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 1px #000000 0 0px 5px rgba(255, 255, 255, 0.7);
}
.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
tr.filler {
  display: table-row !important;
  height: auto !important;
}
tr.filler > td {
  height: auto !important;
}
#top {
  color: white;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#0e0e0e));
  background-image: -moz-linear-gradient(top, #252525, #0e0e0e);
  line-height: 4em;
  position: fixed;
  width: 100%;
  text-align: left;
  z-index: 100;
}
#topContent {
  min-width: 64em;
  max-width: 85em;
  padding: 0 2em;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#transport {
  list-style: none;
  padding: 0;
}
#transport, #transport > li {
  display: inline-block;
  line-height: 100%;
}
#transport > li {
  cursor: default;
  font: 1.2em Verdana;
  text-align: center;
  padding: 0 0.3em;
  width: 2em;
  margin: 0 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #333;
  color: #222;
}
#transport.enabled > li {
  cursor: pointer;
  background-color: #555;
  color: #111;
}
#transport:not(.playing) #pauseButton {
  display: none;
}
#transport.playing #playButton {
  display: none;
}
#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
#navigation > li {
  display: inline-block;
  margin: 0 0.4em;
  font-size: 1.2em;
}
#navigation > li > a {
  color: #CCC;
  text-decoration: none;
}
#navigation > li > a:hover {
  color: white;
}
#mastheadLogo {
  margin: 0 2em;
  vertical-align: bottom;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.5, transparent), color-stop(0.6, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.15)));
}
#networkSearchResults {
  line-height: 3em;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #b7c7d0;
  width: 18em;
  text-align: left;
  top: 3em;
  right: 15.8em;
  color: black;
}
#networkSearchResults a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
#networkSearchResults img {
  vertical-align: middle;
  margin: 0 1em;
}
#networkSearchResults span {
  vertical-align: middle;
}
#user {
  cursor: pointer;
  margin: 0 0.5em;
  display: inline-block;
  padding: 0.3em 1.7em 0.3em 0.6em;
  line-height: 100%;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  margin: -0.1em 0.4em;
  cursor: pointer;
  background-image: url(images/menuDisclosure.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  top: -0.1em;
}
#user:hover {
  background-color: #323232;
  background-image: url(images/menuDisclosure.png), -webkit-gradient(linear, left top, left bottom, from(#505050), to(#282828));
  background-image: url(images/menuDisclosure.png), -moz-linear-gradient(top, #505050, #282828);
  border: 0.07em solid #8c8c8c;
  margin: -0.07em 0.33em;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
}
#userIcon {
  vertical-align: middle;
  margin-right: 0.5em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
#userName {
  vertical-align: middle;
}
.right {
  float: right;
}
.bright {
  color: #28aeed;
}
#backing {
  max-width: 115em;
  min-width: 60em;
  margin: 0 auto;
  padding: 0 2em;
  height: 100%;
}
#content {
  min-width: 60em;
  max-width: 100em;
  margin: 0 0 0 auto;
  height: 100%;
  padding-top: 4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
#library {
  margin-right: 15em;
  height: auto;
  min-width: 45em;
  height: 100%;
  min-height: 30em;
  position: relative;
}
#libraryTop {
  background-color: #a0aaac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#898d90), to(#babec1));
  background-image: -moz-linear-gradient(top, #898d90, #babec1);
  height: 1.75em;
  border: 0.1em solid #aeada9;
}
#infoBox {
  width: 100%;
  height: 20em;
  margin: 1em 0;
}
#musicTableHead, #musicTableBody {
  border-spacing: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
}
#musicTableBodyContainer:focus {
  outline: none;
}
#musicTableBody {
  height: 100%;
}
#musicTableBody tr {
  height: 1.5em;
}
#musicTableBody tr.playing {
  font-weight: bold;
}
#musicTableBody tr.selected {
  background-color: #999;
}
#musicTableBody td.new {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.5, #3e6a97), color-stop(0.5, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(45deg, #3e6a97 50%, rgba(0, 0, 0, 0) 50%);
}
#musicTableBodyContainer:focus tr.selected {
  background-color: #2576EE;
  color: white;
}
#musicTableBody tr:not(.filler) {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#musicTableHead th, #musicTableBody td {
  padding: 0.2em 0.5em;
  border-right: 1px solid rgba(50, 50, 50, 0.3);
}
#musicTableHead th {
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, black), to(#747474));
  background-image: -moz-linear-gradient(top, black, #747474);
  text-align: left;
  color: #888;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 2em;
  padding: 0 0 0 0.8em;
}
#musicTableHead th .dot {
  width: 1.3em;
  height: 1.3em;
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  border-radius: 1.3em;
  margin-left: -0.5em;
}
#musicTableHead th .dot.red {
  background: #c83337;
}
#musicTableHead th .dot.blue {
  background: #3e6a97;
}
#musicTableBodyContainer {
  position: absolute;
  overflow-y: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 1.6em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(0.5, rgba(255, 255, 255, 0.8)), color-stop(0.5, rgba(230, 230, 230, 0.8)), to(rgba(230, 230, 230, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 50%, rgba(230, 230, 230, 0.8) 50%);
  -webkit-background-size: 1px 3em;
  -moz-background-size: 1px 3em;
  background-size: 1px 3em;
}
#sidebar {
  color: white;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -15em;
  width: 15em;
  padding-top: 4em;
}
#sidebarButtons {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebarButtons > li > a {
  background: #897672;
  border: 0.4em solid #514f4e;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  -webkit-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.8);
  line-height: 6em;
  margin: 2em 0 2em 2em;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  display: block;
}
#footer {
  color: #CCC;
  text-align: center;
  margin: 2em 2em 0 2em;
}
#footer a {
  color: inherit;
}
.infoBoxContent {
  width: 100%;
  height: 100%;
}
/* Content-specific */
#howItWorksPoster {
  background-image: url(images/logo_huge_transparent.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  line-height: 20em;
}
#howItWorksClickie {
  line-height: 100%;
  padding: 0.6em;
  font-size: 1.5em;
  display: inline-block;
  background: #191919;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0.3em 0.5em 1em #000000;
  -moz-box-shadow: 0.3em 0.5em 1em #000000;
  box-shadow: 0.3em 0.5em 1em #000000;
  cursor: pointer;
}
#howItWorksClickie > span {
  vertical-align: 0.1em;
  font-size: 0.8em;
  display: inline-block;
  padding: 0.2em 1em;
  margin-left: 0.5em;
  background: #28aeed;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}
#lightbox {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: none;
}
#lightbox .lightboxContent {
  background: black;
  border: 0.2em solid white;
  color: white;
  margin: 10em auto 0px;
  vertical-align: middle;
}
#lightbox.kmNetwork,
#lightbox.newNetwork,
#lightbox.kmNetwork #kmNetworkBox,
#lightbox.newNetwork #newNetworkBox {
  display: block;
}
#someStuff {
  width: 40em;
}
#contentStuff {
  margin: 0, auto;
}
#kmNetworkBox .tiers {
  padding: 0;
  list-style: none;
}
#kmNetworkBox li {
  margin-top: 1em;
}
#kmNetworkBox .tiers .tierPrice {
  background: #333;
  padding: 0 0 0 2em;
  font-size: 1.2em;
  line-height: 1.8em;
}
#kmNetworkBox .tiers .tierPrice a {
  display: inline-block;
  float: right;
  background: #28aeed;
  padding: 0 1em;
}
#kmNetworkBox th, #kmNetworkBox td {
  vertical-align: top;
  text-align: left;
}
#newNetworkBox {
  display: none;
}
#newNetworkBox {
  width: 50em;
}
#newNetworkBox dt, #newNetworkBox dd {
  font-size: 1.3em;
  margin-left: 1em;
}
#newNetworkBox dd {
  padding-bottom: 0.5em;
  border-bottom: 0.3em solid #28aeed;
  margin-bottom: 1em;
}
#newNetworkBox input {
  font: inherit;
}
#newNetworkBox #tierSelection {
  text-align: center;
}
#newNetworkBox #tierSelection ul {
  list-style: none;
  background: #222;
  line-height: 1.8em;
  width: 15em;
  padding: 0;
  margin: 0.5em auto;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
#newNetworkBox #tierSelection li {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background: #444;
  margin: 0.3em;
  padding: 0.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
#newNetworkBox #tierSelection li.selected {
  background: #999;
  color: black;
}
#showInfo .networkName {
  text-align: center;
  font-size: 2em;
  border-bottom: 0.2em solid #28aeed;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
}
#showInfo dl {
  margin: 1em;
}
#showInfo dt {
  font-size: 1.7em;
  margin-bottom: 0.2em;
}
#showInfo dd {
  font-size: 1.2em;
  margin-bottom: 1em;
}
#tour {
  -webkit-box-shadow: 0px 0px 1em black;
  -moz-box-shadow: 0px 0px 1em black;
  box-shadow: 0px 0px 1em black;
  background-color: #35B5FF;
  border: 1em solid white;
  color: white;
  font-size: 1.2em;
  padding: 2em 2em 1.5em 2em;
  position: absolute;
  width: 30em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
#tour.upRight {
  background-image: url(images/tour/arrow_up_right.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 3em;
}
#tour h1 {
  margin-top: 0;
  text-align: center;
}
#tour.wait {
  padding-bottom: 2em;
}
#tour.wait #advanceTour {
  display: none;
}
#advanceTour {
  margin-bottom: 0;
  text-align: right;
}
#advanceTour button {
  background-color: #5FAEFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00ddfd), to(#70b4e9));
  background-image: -moz-linear-gradient(top, #00ddfd, #70b4e9);
  border: 1px solid white;
  color: inherit;
  font-size: 1.2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
#advanceTour button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#70b4e9), to(#00ddfd));
  background-image: -moz-linear-gradient(top, #70b4e9, #00ddfd);
}
